body {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

#brand {
  color: #af0000;
}

.intro-section {
  height: 100%;
  padding-top: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/LASkyline.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section {
  padding-top: 75px;
  padding-bottom: 30px;
  text-align: center;
  background: #eee;
}

.btn-group {
  margin: 25px;
}

.about-section h1, .examples-section h1, .diagrams-section h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.examples-section,
.errors-section {
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #222;
  color: #9d9d9d;
}

.errors-section code {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 12px;
}

.diagrams-section {
  padding-top: 75px;
  text-align: center;
  background: #eee;
}

footer {
  padding: 30px 0px 30px 0px;
  text-align: center;
  background-color: #222;
  color: #9d9d9d;
}

footer small {
  display: block;
}

/* BootStrap Custom */

.container {
  width: 100%;
}

.about {
  text-align: left;
  line-height: 25px;
}

pre {
  text-align: left;
}

.diagram {
  margin-bottom: 50px;
}

.diagram-header {
  font-size: 20px;
  font-family: Futura;
  color: red;
}


/* Images */

.python, .ocaml, .logo {
  width: 100%;
}
